*~
doc
Makefile
libshare-ui/Makefile
libshare-ui/moc
libshare-ui/obj
libshare-ui/out
libshare-ui-utils/Makefile
libshare-ui-utils/moc
libshare-ui-utils/obj
libshare-ui-utils/out
debian/libshare-ui
debian/libshare-ui
debian/libshare-ui-dbg
debian/libshare-ui-dev
debian/libshare-ui-doc
debian/libshare-ui-utils
debian/libshare-ui-tests
debian/libshare-ui-tests.substvars
debian/libshare-ui.postrm.debhelper
debian/libshare-ui.substvars
build-stamp
config.guess
config.sub
configure-stamp
debian/files
debian/libshare-ui.postinst.debhelper
debian/libshare-ui
debian/tmp
debian/libshare-ui-utils.substvars
