[D-BUS Service]
Interface=com.nokia.maemo.meegotouch.ShareUiInterface
Name=com.nokia.ShareUi
Exec=/usr/bin/invoker --single-instance --wait-term --splash-landscape=/usr/share/themes/blanco/meegotouch/images/splash/meegotouch-sharing-splash-landscape.jpg --splash=/usr/share/themes/blanco/meegotouch/images/splash/meegotouch-sharing-splash.jpg --type=e /usr/bin/share-ui --service
